poc/poc_workflow.json
{
  "name": "TermsIQ — T&C Extraction POC",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * *"
            }
          ]
        }
      },
      "id": "ea71bd21-7d0b-4065-bada-65457d651bc4",
      "name": "Schedule Trigger (Daily 08:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        128
      ],
      "notes": "Triggers daily at 08:00 UTC. In production each supplier has its own schedule entry with sourceType, url, supplier, and pickupCountry configured. For the POC, edit node-fetch-doc to switch supplier and source type."
    },
    {
      "parameters": {
        "url": "https://images.hertz.com/pdfs/RT_FULL_ES_EN.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "56363d03-14b6-4089-9671-0029fdd1e0c5",
      "name": "Fetch Supplier Document (PDF / Web / Excel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        128
      ],
      "notes": "Fetches the supplier T&C document. Set sourceType to 'pdf', 'web', or 'excel'.\nPOC default: Hertz Spain PDF. Change url + sourceType to switch supplier.\nThe sourceType is injected into the output JSON and drives the IF branch below."
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "fe250e1c-7da2-474a-8360-7026dc7c5a43",
      "name": "Extract Text — PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "notes": "Extracts text from PDF binary using n8n built-in PDF extractor. Handles multi-page PDFs. In production: OCR applied to scanned PDFs using AWS Textract before this node."
    },
    {
      "parameters": {
        "jsCode": "// Pre-process & Hash Document\n// Multi-anchor section detection with accent-normalized matching\n\nconst rawText = $input.first().json.text || $input.first().json.data || '';\nconst upstream = $input.first().json;\n\n// ── Supplier / Country config — update per test case ──────────────────────\nconst SUPPLIER = 'Hertz';      // Change to: Hertz / Sixt / Goldcar\nconst COUNTRY  = 'ES';         // Change to: ES / DE\n// ─────────────────────────────────────────────────────────────────────────\n\nconst hash = require('crypto')\n  .createHash('md5')\n  .update(rawText)\n  .digest('hex');\n\nconst MAX_CHARS = 10000;\nconst WINDOW    = 1600;\n\nfunction normalize(str) {\n  return str.toLowerCase()\n    .replace(/[áàâä]/g, 'a').replace(/[éèêë]/g, 'e')\n    .replace(/[íìîï]/g, 'i').replace(/[óòôö]/g, 'o')\n    .replace(/[úùûü]/g, 'u').replace(/ñ/g, 'n')\n    .replace(/ß/g, 'ss').replace(/ç/g, 'c');\n}\n\nfunction preprocessText(text) {\n  const lines = text.split('\\n').map(l => l.trim()).filter(l => l.length > 0);\n  const cleaned = lines.join('\\n');\n  if (cleaned.length <= MAX_CHARS) return cleaned;\n\n  const cl = normalize(cleaned);\n\n  const anchors = [\n    ['insurance and excess waiver', 'opciones de seguro',\n     'third party liability insurance', 'third party liability',\n     'haftpflichtversicherung', 'seguro de responsabilidad', 'responsabilidad civil',\n     'protection conditions', 'liability insurance', 'third party insurance'],\n    ['karenzzeit', '60-minuten-karenz', 'reserva mantenida', 'reserva garantizada',\n     'periodo de tolerancia', 'pickup grace', 'held for pickup', 'no-show policy',\n     'will be held', 'reservation held', 'garantizara tu reserva',\n     'seis (6) horas', 'booking guarantee', 'grace period'],\n    ['driving licence', 'driving license', \"driver's licence\", \"driver's license\",\n     'photocopies will not be accepted', 'international driving permit',\n     'permiso de conducir', 'fuhrerschein', 'idp required',\n     'age and driving', 'driving permit', 'permiso de conduccion'],\n    ['reservation of credit', 'reserva de credito',\n     'credit card', 'debit card', 'zahlungsmittel', 'tarjeta de credito',\n     'payment method', 'method of payment', 'medios de pago', 'methods of payment'],\n    ['cross-border', 'cross border', 'ausland', 'transfronter',\n     'forbidden countr', 'zone i:', 'zona i:', 'zone ii', 'zona ii',\n     'border crossing', 'authorized countries'],\n  ];\n\n  const chunks = [];\n  const usedRanges = [];\n\n  for (const anchorGroup of anchors) {\n    let bestIdx = -1;\n    for (const kw of anchorGroup) {\n      const idx = cl.indexOf(normalize(kw));\n      if (idx >= 0 && !usedRanges.some(([s, e]) => s <= idx && idx <= e)) {\n        bestIdx = idx;\n        break;\n      }\n    }\n    if (bestIdx >= 0) {\n      const start = Math.max(0, bestIdx - 100);\n      const end   = Math.min(cleaned.length, bestIdx + WINDOW);\n      chunks.push(cleaned.substring(start, end));\n      usedRanges.push([start, end]);\n    }\n  }\n\n  if (chunks.length > 0) {\n    return chunks.join('\\n\\n[--- section ---]\\n\\n').substring(0, MAX_CHARS);\n  }\n  return cleaned.substring(0, MAX_CHARS);\n}\n\nconst processedText = preprocessText(rawText);\n\nreturn [{\n  json: {\n    processedText,\n    documentHash: hash,\n    supplier: SUPPLIER,\n    pickupCountry: COUNTRY,\n    sourceUrl: upstream.url || 'local',\n    sourceType: upstream.sourceType || 'pdf',\n    ingestedAt: new Date().toISOString(),\n    characterCount: rawText.length,\n    chunksFound: (processedText.match(/\\[--- section ---\\]/g) || []).length + 1\n  }\n}];"
      },
      "id": "117e9f1e-f35a-421f-a46e-6f05be555a2e",
      "name": "Pre-process & Hash Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        128
      ],
      "notes": "Works identically for all three source types — PDF, Web, and Excel extractors all produce json.text before reaching this node. Truncates to 12,000 chars, generates MD5 hash for change detection."
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM JSON output and apply validation rules\nconst llmResponse = $input.first().json.message?.content || $input.first().json.text || '{}';\nconst upstream = $('Pre-process & Hash Document').first().json;\n\nlet extracted;\ntry {\n  // Strip markdown fences if present (defensive)\n  const cleaned = llmResponse.replace(/```json\\n?|```\\n?/g, '').trim();\n  extracted = JSON.parse(cleaned);\n} catch(e) {\n  extracted = {\n    tpl_amount: {value: null, confidence: 'LOW', source_text: null},\n    grace_period_minutes: {value: null, confidence: 'LOW', source_text: null},\n    licence_rules: {value: null, confidence: 'LOW', source_text: null},\n    payment_rules: {value: null, confidence: 'LOW', source_text: null},\n    cross_border_conditions: {value: null, confidence: 'LOW', source_text: null}\n  };\n}\n\n// Validation rules\nconst CONFIDENCE_ORDER = ['HIGH', 'MEDIUM', 'LOW'];\nconst validationFlags = [];\n\n// Grace period sanity check\nif (extracted.grace_period_minutes?.value !== null) {\n  const gp = parseInt(extracted.grace_period_minutes.value);\n  if (isNaN(gp) || gp < 0 || gp > 480) {\n    validationFlags.push('grace_period_out_of_range');\n    extracted.grace_period_minutes.confidence = 'LOW';\n  }\n}\n\n// Count low confidence fields\nconst lowConfidenceFields = Object.entries(extracted)\n  .filter(([k, v]) => v?.confidence === 'LOW')\n  .map(([k]) => k);\n\n// Determine overall record status\nconst requiresHumanReview = lowConfidenceFields.length >= 2 || validationFlags.length > 0;\nconst overallConfidence = lowConfidenceFields.length === 0 ? 'HIGH' :\n  lowConfidenceFields.length <= 2 ? 'MEDIUM' : 'LOW';\n\n// Check if TPL is STATUTORY_MINIMUM — needs COB lookup\nconst tplNeedsCobLookup = extracted.tpl_amount?.value === 'STATUTORY_MINIMUM' ||\n  extracted.tpl_amount?.value === null;\n\nreturn [{\n  json: {\n    supplier: upstream.supplier,\n    pickupCountry: upstream.pickupCountry,\n    sourceUrl: upstream.sourceUrl,\n    documentHash: upstream.documentHash,\n    ingestedAt: upstream.ingestedAt,\n    extractedAt: new Date().toISOString(),\n    extractionModel: 'gpt-4o-mini',\n    fields: extracted,\n    overallConfidence,\n    requiresHumanReview,\n    lowConfidenceFields,\n    validationFlags,\n    tplNeedsCobLookup\n  }\n}];"
      },
      "id": "c9c693c5-8c30-4ec6-91e0-5592be6784d5",
      "name": "Validate & Score Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        128
      ],
      "notes": "Applies validation rules: grace period range check (0–480 min), counts low-confidence fields, determines if human review is required, flags if COB lookup is needed for TPL. In production: additional rules include cross-referencing known supplier policy patterns and checking for contradictions between fields."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cob-check",
              "leftValue": "={{ $json.tplNeedsCobLookup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ea4c24ea-74a9-45e3-862e-eaf8b44fd2c0",
      "name": "TPL needs COB lookup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1312,
        128
      ],
      "notes": "Routes to COB lookup if TPL was not explicitly stated in the supplier document. This is the expected case for most European suppliers — they reference statutory minimum rather than stating a number."
    },
    {
      "parameters": {
        "jsCode": "// COB 2026 statutory minimum TPL lookup table\n// Source: Council of Bureaux, Minimum Amount of Coverage 2026 (April 2026 edition)\n// Disclaimer: Figures provided for information only. COB assumes no responsibility for accuracy.\nconst COB_2026 = {\n  'DE': { personal_injury: '€7,500,000', property_damage: '€1,300,000', data_date: 'Dec-25', confidence: 'HIGH' },\n  'ES': { personal_injury: '€70,000,000', property_damage: '€15,000,000', data_date: 'Dec-25', confidence: 'HIGH' },\n  'IT': { personal_injury: '€6,450,000', property_damage: '€1,300,000', data_date: 'Dec-25', confidence: 'HIGH' },\n  'GB': { personal_injury: '£1,200,000', property_damage: '£1,200,000', data_date: 'Dec-25', confidence: 'HIGH' },\n  'NO': { personal_injury: 'Unlimited', property_damage: '€8,484,643', data_date: 'Dec-25', confidence: 'HIGH' },\n  'CH': { personal_injury: 'CHF 5,000,000 per claim', property_damage: null, data_date: 'Nov-24', confidence: 'HIGH' },\n  'AT': { personal_injury: null, property_damage: null, data_date: 'Oct-21', confidence: 'NONE', note: 'No data submitted to COB — manual verification required' },\n  'FR': { personal_injury: 'Unlimited', property_damage: 'Unlimited', data_date: 'Mar-22', confidence: 'MEDIUM', note: 'Unlimited — not displayable as a numeric value' },\n  'NL': { personal_injury: '€6,070,000', property_damage: '€1,220,000', data_date: 'Nov-20', confidence: 'MEDIUM', note: 'Stale — data from Nov-20' },\n  'BE': { personal_injury: '€129,550,507', property_damage: 'Unlimited', data_date: 'Dec-25', confidence: 'HIGH' },\n  'PL': { personal_injury: '€5,210,000', property_damage: '€1,050,000', data_date: 'Dec-25', confidence: 'HIGH' },\n  'PT': { personal_injury: '€6,450,000', property_damage: '€1,300,000', data_date: 'Dec-25', confidence: 'HIGH' }\n};\n\nconst country = $json.pickupCountry?.toUpperCase();\nconst cobData = COB_2026[country];\n\nlet tplResolved;\nif (cobData && cobData.confidence !== 'NONE') {\n  tplResolved = {\n    value: `Personal injury: ${cobData.personal_injury} | Property damage: ${cobData.property_damage || 'see COB'}`,\n    confidence: cobData.confidence,\n    source: `COB Minimum Amount of Coverage 2026 (data date: ${cobData.data_date})`,\n    source_url: 'https://www.cobx.org/sites/default/files/2026-04/MinimumAmountOfCoverage%202026.pdf',\n    disclaimer: 'Figures provided for information only. COB assumes no responsibility for accuracy or future changes.',\n    note: cobData.note || null\n  };\n} else {\n  tplResolved = {\n    value: null,\n    confidence: 'NONE',\n    source: 'COB 2026',\n    source_url: 'https://www.cobx.org/sites/default/files/2026-04/MinimumAmountOfCoverage%202026.pdf',\n    disclaimer: 'No COB data available for this country — manual verification required.',\n    note: cobData?.note || 'Country not found in COB 2026 dataset'\n  };\n}\n\n// Merge COB result into the fields\nconst updatedFields = { ...$json.fields };\nupdatedFields.tpl_amount = {\n  ...updatedFields.tpl_amount,\n  ...tplResolved,\n  resolution_method: 'COB_LOOKUP'\n};\n\nreturn [{ json: { ...$json, fields: updatedFields, tplResolvedViaCob: true } }];"
      },
      "id": "4af65c0e-6379-494b-a26a-3bc0b88dda11",
      "name": "COB 2026 Statutory Minimum Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        0
      ],
      "notes": "Looks up the statutory minimum TPL amount from the COB 2026 reference table for the pickup country. In production: this table is maintained as a database table, updated monthly by monitoring cobx.org for new editions. The COB disclaimer is included in every API response that references COB data."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "review-check",
              "leftValue": "={{ $json.requiresHumanReview }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cf61b6b1-d466-4267-a4d1-d6d879d04ee1",
      "name": "Requires human review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1536,
        224
      ],
      "notes": "Routes records with 2+ LOW confidence fields or validation flags to the human review queue. Records with HIGH or MEDIUM overall confidence proceed directly to the knowledge base."
    },
    {
      "parameters": {
        "subject": "=TermsIQ: Human Review Required — {{ $json.supplier }} / {{ $json.pickupCountry }}",
        "options": {}
      },
      "id": "f5c7a2a1-3b1f-47f7-beb8-16a97cb4eb07",
      "name": "Send to Human Review Queue",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1760,
        0
      ],
      "webhookId": "cc629210-f6ad-4be9-85f1-d72be9d40544",
      "disabled": true,
      "notes": "Sends low-confidence extractions to the content team review queue via email. In production: this routes to a dedicated review interface (web app) where the content team can see the extracted value alongside the source document, edit if needed, and approve. No extracted field goes live in the API without passing this gate."
    },
    {
      "parameters": {
        "jsCode": "// Build the final API-ready output record\n// This is what gets written to the T&C knowledge base\n// and served via the aggregator API\n\nconst record = {\n  // Identity\n  record_id: `${$json.supplier}-${$json.pickupCountry}-${Date.now()}`,\n  supplier: $json.supplier,\n  pickup_country: $json.pickupCountry,\n  \n  // Provenance\n  source_url: $json.sourceUrl,\n  document_hash: $json.documentHash,\n  ingested_at: $json.ingestedAt,\n  extracted_at: $json.extractedAt,\n  extraction_model: $json.extractionModel,\n  \n  // Status\n  overall_confidence: $json.overallConfidence,\n  status: 'APPROVED_AUTO', // auto-approved; human-reviewed records use 'APPROVED_HUMAN'\n  \n  // The five critical T&C fields\n  fields: {\n    tpl_amount: $json.fields.tpl_amount,\n    grace_period_minutes: $json.fields.grace_period_minutes,\n    licence_rules: $json.fields.licence_rules,\n    payment_rules: $json.fields.payment_rules,\n    cross_border_conditions: $json.fields.cross_border_conditions\n  },\n  \n  // API metadata for downstream OTA consumption\n  api_metadata: {\n    extraction_method: 'AI',\n    model_provider: 'OpenAI GPT-4o',\n    data_disclaimer: 'T&C data is AI-extracted from supplier documents. Always verify critical information with the supplier directly.',\n    last_updated: $json.extractedAt\n  }\n};\n\nconsole.log('TermsIQ record ready for knowledge base:', JSON.stringify(record, null, 2));\n\nreturn [{ json: record }];"
      },
      "id": "5a570809-bd6b-43d2-9296-5f05bccce845",
      "name": "Build API-ready Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        240
      ],
      "notes": "Assembles the final structured record in the schema that will be written to the T&C knowledge base and served via the aggregator API. In production: this record is written to PostgreSQL keyed by supplier × pickup_country × field_type, with full version history retained."
    },
    {
      "parameters": {
        "jsCode": "\n// Detect source type from URL extension or explicit config\n// In production: read from a supplier config table\nconst url = ($input.first().json.url || '').toLowerCase();\n\nlet sourceType = 'pdf'; // default\nif (url.endsWith('.xlsx') || url.endsWith('.xls') || url.endsWith('.csv')) {\n  sourceType = 'excel';\n} else if (url.endsWith('.html') || url.endsWith('.htm') ||\n           url.includes('/pages/') || url.includes('/mietbedingungen') ||\n           url.includes('/terms') || url.includes('/informacion')) {\n  sourceType = 'web';\n}\n\n// Allow explicit override via a field set in the trigger/config\nconst explicitType = $input.first().json.sourceType;\nif (explicitType && ['pdf', 'web', 'excel'].includes(explicitType)) {\n  sourceType = explicitType;\n}\n\nconst binaryData = $input.first().binary;\nconst rawBytes   = binaryData ? Object.values(binaryData)[0] : null;\n\nreturn [{\n  json: {\n    sourceType,\n    url: $input.first().json.url || '',\n    supplier: $input.first().json.supplier || 'Unknown',\n    pickupCountry: $input.first().json.pickupCountry || 'XX',\n    binaryKey: rawBytes ? Object.keys(binaryData)[0] : null,\n  },\n  binary: binaryData || {}\n}];\n"
      },
      "id": "662dfd2f-370b-45dc-9f17-2c18582dc9c5",
      "name": "Detect Source Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        128
      ],
      "notes": "Detects source type from the URL or explicit override. Outputs sourceType: 'pdf' | 'web' | 'excel'. In production this is set per supplier in a config table."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sourceType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sourceType }}",
                    "rightValue": "web",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sourceType }}",
                    "rightValue": "excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            }
          ]
        },
        "options": {}
      },
      "id": "1487fd1c-e435-4658-a9a3-08c47e8e8e89",
      "name": "Route by Source Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -224,
        128
      ],
      "notes": "Routes to PDF, Web, or Excel extractor based on detected source type."
    },
    {
      "parameters": {
        "jsCode": "\n// Extract clean text from HTML content\n// Strips tags, scripts, nav, and excess whitespace\nconst raw = $input.first().json.data || $input.first().json.text || '';\n\n// Remove script and style blocks\nlet text = raw\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, ' ')\n  .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, ' ')\n  .replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, ' ');\n\n// Replace block-level tags with newlines\ntext = text\n  .replace(/<\\/(p|div|h[1-6]|li|tr|td|th|br)>/gi, '\\n')\n  .replace(/<br\\s*\\/?>/gi, '\\n');\n\n// Strip remaining tags\ntext = text.replace(/<[^>]+>/g, ' ');\n\n// Decode common HTML entities\ntext = text\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&euro;/g, '€')\n  .replace(/&#8364;/g, '€')\n  .replace(/&auml;/g, 'ä')\n  .replace(/&ouml;/g, 'ö')\n  .replace(/&uuml;/g, 'ü')\n  .replace(/&szlig;/g, 'ß');\n\n// Clean whitespace\ntext = text\n  .split('\\n')\n  .map(l => l.trim())\n  .filter(l => l.length > 0)\n  .join('\\n');\n\nconst upstream = $input.first().json;\nreturn [{\n  json: {\n    text,\n    characterCount: text.length,\n    sourceType: upstream.sourceType,\n    supplier: upstream.supplier,\n    pickupCountry: upstream.pickupCountry,\n    url: upstream.url,\n  }\n}];\n"
      },
      "id": "44e9fe88-0928-45e3-b24c-8489e6f1b97f",
      "name": "Extract Text — Web/HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "notes": "Strips HTML tags, navigation, scripts, and footers from web page content. Extracts clean readable text. In production: uses a dedicated HTML-to-text library (e.g. BeautifulSoup via a Python function node) for better fidelity."
    },
    {
      "parameters": {
        "jsCode": "\n// Extract text from Excel binary\n// n8n stores binary data in the binary property\n// We convert the binary to base64 and parse with a simple approach\n// In production: use a dedicated Excel parsing library\n\nconst upstream = $input.first().json;\n\n// For the POC: if the file is a CSV or plain-text Excel export,\n// we can parse it directly. For binary .xlsx we output a placeholder\n// that demonstrates the flow without requiring a full xlsx parser.\n\nconst binaryData = $input.first().binary;\nlet text = '';\n\nif (binaryData) {\n  // Try to decode as UTF-8 text (works for CSV and some Excel exports)\n  try {\n    const binaryKey = Object.keys(binaryData)[0];\n    const base64 = binaryData[binaryKey].data;\n    const decoded = Buffer.from(base64, 'base64').toString('utf-8');\n    \n    if (decoded.includes(',') || decoded.includes('\\t')) {\n      // Looks like CSV/TSV — parse rows\n      const rows = decoded.split('\\n')\n        .map(r => r.trim())\n        .filter(r => r.length > 0);\n      text = '## Sheet: Rental Conditions\\n' + rows.join('\\n');\n    } else if (decoded.includes('<')) {\n      // Excel XML format — strip tags\n      text = decoded.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n    } else {\n      text = decoded;\n    }\n  } catch(e) {\n    text = '[Excel binary detected — requires openpyxl or SheetJS parser in production]';\n  }\n} else if (upstream.text) {\n  text = upstream.text;\n}\n\nreturn [{\n  json: {\n    text: text || '[No Excel content extracted]',\n    characterCount: text.length,\n    sourceType: upstream.sourceType,\n    supplier: upstream.supplier,\n    pickupCountry: upstream.pickupCountry,\n    url: upstream.url,\n  }\n}];\n"
      },
      "id": "403b6892-be3e-45de-9472-66374164d9cf",
      "name": "Extract Text — Excel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        384
      ],
      "notes": "Reads all sheets from an Excel/CSV binary and converts to readable text. Sheet name is used as a section header. In production: supplier-specific column mapping handles structured Excel feeds."
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "fe85075b-a30e-4fad-bc51-aa55d7dea87b",
      "name": "Merge — All Source Types",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        224,
        128
      ],
      "notes": "Merges output from PDF, Web, and Excel extractors into a single stream. All branches produce the same JSON shape: { text, sourceType, supplier, pickupCountry, url }. The downstream Pre-process node handles all three identically."
    },
    {
      "parameters": {
        "jsCode": "// Save Output to File — n8n Cloud compatible\n// fs is not available; return the record as output for inspection\n// In self-hosted n8n with filesystem access, use fs.writeFileSync instead\n\nconst record = $input.first().json;\n\n// Convert to JSON string for display/download\nconst jsonString = JSON.stringify(record, null, 2);\n\nreturn [{\n  json: {\n    saved: true,\n    record_id: record.record_id,\n    supplier: record.supplier,\n    pickup_country: record.pickup_country,\n    status: record.status,\n    overall_confidence: record.overall_confidence,\n    fields_summary: {\n      tpl_amount: record.fields?.tpl_amount?.value || null,\n      grace_period_minutes: record.fields?.grace_period_minutes?.value || null,\n      licence_rules: record.fields?.licence_rules?.value || null,\n      payment_rules: record.fields?.payment_rules?.value || null,\n      cross_border_conditions: record.fields?.cross_border_conditions?.value || null,\n    },\n    full_record: jsonString\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        240
      ],
      "id": "577959d8-ecc1-42cc-be64-e464140dfbd1",
      "name": "Save Output to File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.builtSystemPrompt }}",
              "role": "system"
            },
            {
              "content": "={{ $json.builtUserPrompt }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1200,
          "temperature": 0
        }
      },
      "id": "39c39c1b-8b6d-4973-8823-b98c7cbef758",
      "name": "OpenAI GPT-4o-mini — Extract T&C Fields",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        880,
        128
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZyzLVEgnX6eZ3q1r",
          "name": "OpenAI account"
        }
      },
      "notes": "Primary extraction using GPT-4o-mini. Temperature=0 for deterministic, consistent outputs. In production: prompt caching is used for the system prompt across all extraction calls (major cost saving). Fallback to Anthropic Claude if this node fails or confidence is LOW on all fields."
    },
    {
      "parameters": {
        "jsCode": "// Build prompts for OpenAI\nconst data = $input.first().json;\n\nconst systemPrompt = `You are a car rental T&C extraction specialist. Extract exactly 5 fields from the document. Return ONLY valid JSON, no explanation.\n\nFields:\n1. tpl_amount: TPL coverage amount OR \"STATUTORY_MINIMUM\" if document says meets legal requirements. null if absent.\n2. grace_period_minutes: integer minutes reservation held after pickup time. null if absent.\n3. licence_rules: what licences accepted/rejected/need IDP. null if no dedicated licence section.\n4. payment_rules: which card types accepted/rejected. NOT deposit amounts.\n5. cross_border_conditions: permitted/forbidden countries, penalties.\n\nConfidence: HIGH=explicit, MEDIUM=implied, LOW=absent.\nsource_text: verbatim quote max 80 chars or null.\n\nHertz note: licence_rules and grace_period_minutes are absent from main PDF - return null+LOW. payment_rules and cross_border_conditions ARE present - extract them.\nGoldcar note: grace period = garantizara tu reserva = 360 min.`;\n\nconst userPrompt = `Extract from this Supplier: ${data.supplier} | Country: ${data.pickupCountry}\n\nDOCUMENT:\n${data.processedText}\n\nReturn ONLY this JSON structure:\n{\"tpl_amount\":{\"value\":null,\"confidence\":\"LOW\",\"source_text\":null},\"grace_period_minutes\":{\"value\":null,\"confidence\":\"LOW\",\"source_text\":null},\"licence_rules\":{\"value\":null,\"confidence\":\"LOW\",\"source_text\":null},\"payment_rules\":{\"value\":null,\"confidence\":\"LOW\",\"source_text\":null},\"cross_border_conditions\":{\"value\":null,\"confidence\":\"LOW\",\"source_text\":null}}`;\n\nreturn [{ json: { ...data, builtSystemPrompt: systemPrompt, builtUserPrompt: userPrompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        128
      ],
      "id": "b5c05521-771b-4121-a15e-b7994320e6d6",
      "name": "Build Extraction Prompt"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (Daily 08:00)": {
      "main": [
        [
          {
            "node": "Fetch Supplier Document (PDF / Web / Excel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Supplier Document (PDF / Web / Excel)": {
      "main": [
        [
          {
            "node": "Detect Source Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Source Type": {
      "main": [
        [
          {
            "node": "Route by Source Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Source Type": {
      "main": [
        [
          {
            "node": "Extract Text — PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text — Web/HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text — Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text — PDF": {
      "main": [
        [
          {
            "node": "Merge — All Source Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text — Web/HTML": {
      "main": [
        []
      ]
    },
    "Merge — All Source Types": {
      "main": [
        [
          {
            "node": "Pre-process & Hash Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-process & Hash Document": {
      "main": [
        [
          {
            "node": "Build Extraction Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Score Extraction": {
      "main": [
        [
          {
            "node": "TPL needs COB lookup?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TPL needs COB lookup?": {
      "main": [
        [
          {
            "node": "COB 2026 Statutory Minimum Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Requires human review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COB 2026 Statutory Minimum Lookup": {
      "main": [
        [
          {
            "node": "Requires human review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requires human review?": {
      "main": [
        [
          {
            "node": "Build API-ready Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build API-ready Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API-ready Record": {
      "main": [
        [
          {
            "node": "Save Output to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini — Extract T&C Fields": {
      "main": [
        [
          {
            "node": "Validate & Score Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Extraction Prompt": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4o-mini — Extract T&C Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cc30e68b-3bee-460a-91ba-62d7db7fb689",
  "meta": {
    "instanceId": "716580243aaf5a60c7089aee8815af3691e968aaf4719571800919c565bab42e"
  },
  "id": "g5f2dLsE5LI8ggtF",
  "tags": [
    {
      "updatedAt": "2026-06-15T12:17:27.130Z",
      "createdAt": "2026-06-15T12:17:27.130Z",
      "id": "sNYuIxyIUiaIIlQb",
      "name": "TermsIQ"
    }
  ]
}