poc/Annotations/url_agent_workflow.json
{
  "name": "TermsIQ — URL Validity Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule Trigger (Daily 08:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// TermsIQ URL Validity Agent — n8n Code Node\n// Replicates url_agent.py logic in JavaScript\n// Reads annotation_base.json, checks all URLs, returns structured results\n\nconst ANNOTATION_PATH = 'C:/Users/dilia/OneDrive/IronHack/Projects/final-project-Dilia-Navarro/poc/Annotations/annotation_base.json';\nconst JS_RENDER_THRESHOLD = 5000;\nconst REQUEST_TIMEOUT_MS  = 15000;\nconst SKIP_PREFIXES = ['local://', 'session://', 'file://'];\n\nconst STATUS = {\n  OK:          'OK',\n  NOT_FOUND:   '404',\n  BLOCKED:     'BLOCKED',\n  JS_RENDERED: 'JS_RENDERED',\n  REDIRECT:    'REDIRECT',\n  TIMEOUT:     'TIMEOUT',\n  ERROR:       'ERROR',\n  SKIP:        'SKIP',\n};\n\nconst ACTION_STATUSES = new Set([\n  STATUS.NOT_FOUND, STATUS.JS_RENDERED,\n  STATUS.REDIRECT,  STATUS.TIMEOUT, STATUS.ERROR\n]);\n\n// Load annotation base\nconst fs  = require('fs');\nconst url = require('url');\n\nlet annotationData;\ntry {\n  const raw = fs.readFileSync(ANNOTATION_PATH, 'utf8');\n  annotationData = JSON.parse(raw);\n} catch (e) {\n  return [{ json: {\n    error: `Could not read annotation_base.json: ${e.message}`,\n    issuesCount: 0, issues: [], allResults: [],\n    runTimestamp: new Date().toISOString(), exitCode: 0\n  }}];\n}\n\n// Check a single URL\nfunction checkUrl(rawUrl) {\n  return new Promise((resolve) => {\n    if (SKIP_PREFIXES.some(p => rawUrl.startsWith(p))) {\n      return resolve({ status: STATUS.SKIP, note: 'Local or session-authenticated' });\n    }\n    const parsed  = url.parse(rawUrl);\n    const lib     = rawUrl.startsWith('https') ? require('https') : require('http');\n    const options = {\n      hostname: parsed.hostname,\n      port:     parsed.port || (rawUrl.startsWith('https') ? 443 : 80),\n      path:     parsed.path,\n      method:   'GET',\n      headers:  { 'User-Agent': 'TermsIQ-URLAgent/1.0' },\n      timeout:  REQUEST_TIMEOUT_MS,\n    };\n    const req = lib.request(options, (res) => {\n      const code        = res.statusCode;\n      const location    = res.headers['location'];\n      const contentType = res.headers['content-type'] || '';\n      let body = '';\n      res.on('data', chunk => { body += chunk; });\n      res.on('end', () => {\n        if (code === 404) return resolve({ status: STATUS.NOT_FOUND, code, note: 'HTTP 404 — URL no longer exists' });\n        if (code === 403) return resolve({ status: STATUS.BLOCKED,   code, note: 'HTTP 403 — server blocks bots, URL likely valid' });\n        if (code >= 300 && code < 400 && location) return resolve({ status: STATUS.REDIRECT, code, redirectUrl: location, note: `Redirected to: ${location}` });\n        if (code >= 400) return resolve({ status: STATUS.ERROR, code, note: `HTTP ${code}` });\n        if (contentType.includes('text/html')) {\n          const textOnly = body.replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\n          if (textOnly.length < JS_RENDER_THRESHOLD) return resolve({ status: STATUS.JS_RENDERED, code, note: `Only ${textOnly.length} chars — likely JS-rendered` });\n        }\n        resolve({ status: STATUS.OK, code, note: `${body.length.toLocaleString()} bytes | ${contentType.split(';')[0].trim()}` });\n      });\n    });\n    req.on('timeout', () => { req.destroy(); resolve({ status: STATUS.TIMEOUT, note: `Timed out after ${REQUEST_TIMEOUT_MS/1000}s` }); });\n    req.on('error',   e  => resolve({ status: STATUS.ERROR, note: `Error: ${e.message}` }));\n    req.end();\n  });\n}\n\n// Extract all URLs from a record\nfunction collectUrls(record) {\n  const urls = [];\n  const src  = record.sources || {};\n  if (src.primary)             urls.push({ path: 'sources.primary',             url: src.primary.url,             fields: [] });\n  if (src.primary_pdf_fallback) urls.push({ path: 'sources.primary_pdf_fallback', url: src.primary_pdf_fallback.url, fields: [] });\n  (src.secondary || []).forEach((s, i) => urls.push({ path: `sources.secondary[${i}]`, url: s.url, fields: s.fields_covered || [] }));\n  return urls;\n}\n\n// Run checks\nconst runTimestamp = new Date().toISOString();\nconst issues     = [];\nconst allResults = [];\n\nfor (const record of (annotationData.records || [])) {\n  for (const urlInfo of collectUrls(record)) {\n    await new Promise(r => setTimeout(r, 1000)); // polite delay\n    const result = await checkUrl(urlInfo.url);\n    const entry  = {\n      record:   record.id,\n      supplier: record.supplier,\n      country:  record.country,\n      path:     urlInfo.path,\n      url:      urlInfo.url,\n      status:   result.status,\n      code:     result.code || null,\n      note:     result.note,\n      redirectUrl:   result.redirectUrl || null,\n      fieldsCovered: urlInfo.fields,\n    };\n    allResults.push(entry);\n    if (ACTION_STATUSES.has(result.status)) issues.push(entry);\n  }\n}\n\nconst totalChecked = allResults.filter(r => r.status !== STATUS.SKIP).length;\nconst totalOk      = allResults.filter(r => r.status === STATUS.OK).length;\nconst totalBlocked = allResults.filter(r => r.status === STATUS.BLOCKED).length;\nconst totalSkipped = allResults.filter(r => r.status === STATUS.SKIP).length;\n\nreturn [{ json: {\n  runTimestamp,\n  runDate:      runTimestamp.split('T')[0],\n  totalChecked, totalOk, totalBlocked, totalSkipped,\n  issuesCount:  issues.length,\n  issues,\n  allResults,\n  exitCode:     issues.length > 0 ? 1 : 0,\n}}];"
      },
      "id": "node-run-agent",
      "name": "Run URL Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-exitcode",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-check-issues",
      "name": "Issues Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Build HTML email from agent results\nconst data   = $input.first().json;\nconst issues = data.issues || [];\n\nconst statusColors = {\n  '404':         '#dc2626',\n  'JS_RENDERED': '#d97706',\n  'REDIRECT':    '#2563eb',\n  'TIMEOUT':     '#7c3aed',\n  'ERROR':       '#dc2626',\n};\nconst actionGuide = {\n  '404':         'URL deleted. Find replacement and update annotation_base.json.',\n  'JS_RENDERED': 'Page now JS-rendered. Add or update PDF fallback URL.',\n  'REDIRECT':    'URL moved. Update annotation_base.json with new URL.',\n  'TIMEOUT':     'Server slow. Retry manually before taking action.',\n  'ERROR':       'Unexpected error. Check URL manually.',\n};\n\nlet rows = '';\nfor (const issue of issues) {\n  const color  = statusColors[issue.status] || '#374151';\n  const action = actionGuide[issue.status]  || 'Check manually.';\n  rows += `<tr>\n    <td style=\"padding:8px;border:1px solid #e5e7eb;font-weight:bold\">${issue.record}</td>\n    <td style=\"padding:8px;border:1px solid #e5e7eb;color:${color};font-weight:bold\">${issue.status}</td>\n    <td style=\"padding:8px;border:1px solid #e5e7eb;font-size:12px;word-break:break-all\">${issue.url}</td>\n    <td style=\"padding:8px;border:1px solid #e5e7eb;font-size:12px\">${issue.note}</td>\n    <td style=\"padding:8px;border:1px solid #e5e7eb;font-size:12px\">${action}</td>\n  </tr>`;\n}\n\nconst html = `<html><body style=\"font-family:Arial,sans-serif;color:#111827;max-width:900px;margin:0 auto\">\n<h2 style=\"color:#dc2626\">⚠ TermsIQ URL Agent — Action Required</h2>\n<p><strong>${issues.length} issue(s) detected</strong> on ${data.runDate}.</p>\n<p>Summary: ${data.totalChecked} checked | ${data.totalOk} OK | ${data.totalBlocked} blocked (403) | ${data.totalSkipped} skipped</p>\n<table style=\"border-collapse:collapse;width:100%;font-size:13px\">\n<thead><tr style=\"background:#f3f4f6\">\n  <th style=\"padding:8px;border:1px solid #e5e7eb;text-align:left\">Record</th>\n  <th style=\"padding:8px;border:1px solid #e5e7eb;text-align:left\">Status</th>\n  <th style=\"padding:8px;border:1px solid #e5e7eb;text-align:left\">URL</th>\n  <th style=\"padding:8px;border:1px solid #e5e7eb;text-align:left\">Note</th>\n  <th style=\"padding:8px;border:1px solid #e5e7eb;text-align:left\">Action</th>\n</tr></thead>\n<tbody>${rows}</tbody>\n</table>\n<h3>Next steps</h3>\n<ol>\n  <li>Open <code>poc/Annotations/annotation_base.json</code></li>\n  <li>Find the affected record and update the URL</li>\n  <li>Re-run: <code>python poc/Annotations/url_agent.py --annotation poc/Annotations/annotation_base.json</code></li>\n</ol>\n<p style=\"color:#6b7280;font-size:12px\">— TermsIQ URL Agent | ${data.runTimestamp}</p>\n</body></html>`;\n\nreturn [{ json: { ...data, emailHtml: html,\n  emailSubject: `⚠ TermsIQ URL Agent — ${issues.length} issue(s) — ${data.runDate}` } }];"
      },
      "id": "node-build-email",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 420]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.TERMSIQ_SMTP_USER }}",
        "toEmail": "={{ $env.TERMSIQ_NOTIFY_TO }}",
        "subject": "={{ $json.emailSubject }}",
        "emailFormat": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "node-send-email",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1060, 420],
      "credentials": {
        "smtp": {
          "id": "smtp-termsiq",
          "name": "TermsIQ SMTP"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $input.first().json;\nconsole.log(`[TermsIQ URL Agent] ${data.runDate} — All OK. Checked: ${data.totalChecked}, OK: ${data.totalOk}, Blocked: ${data.totalBlocked}, Skipped: ${data.totalSkipped}`);\nreturn [{ json: { status: 'ALL_OK', ...data } }];"
      },
      "id": "node-log-ok",
      "name": "Log — All OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 180]
    }
  ],
  "connections": {
    "Schedule Trigger (Daily 08:00)": {
      "main": [[{ "node": "Run URL Agent", "type": "main", "index": 0 }]]
    },
    "Run URL Agent": {
      "main": [[{ "node": "Issues Found?", "type": "main", "index": 0 }]]
    },
    "Issues Found?": {
      "main": [
        [{ "node": "Log — All OK",  "type": "main", "index": 0 }],
        [{ "node": "Build Email",   "type": "main", "index": 0 }]
      ]
    },
    "Build Email": {
      "main": [[{ "node": "Send Alert Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["TermsIQ", "monitoring", "url-agent"],
  "meta": { "instanceId": "termsiq-poc" }
}
